<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rbs_arm" params="namespace parent *origin tf_prefix hardware gripper_name controllers">

    <xacro:include filename="$(find rbs_arm)/urdf/inc/rbs_base_link.xacro" />
    <xacro:include filename="$(find rbs_arm)/urdf/inc/rbs_ee_link.xacro" />
    <xacro:include filename="$(find rbs_arm)/urdf/inc/rbs_fork_link.xacro" />
    <xacro:include filename="$(find rbs_arm)/urdf/inc/rbs_main_link.xacro" />

    <!-- BEGIN robot description  -->
    <xacro:base_link parent="${parent}" tf_prefix="${tf_prefix}" hardware="${hardware}">
      <xacro:insert_block name="origin" />
    </xacro:base_link>
    <xacro:fork_link parent="base_link"  name="fork0_link" tf_prefix="${tf_prefix}" hardware="${hardware}" />
    <xacro:main_link parent="fork0_link" name="main0_link" tf_prefix="${tf_prefix}" hardware="${hardware}" />
    <xacro:fork_link parent="main0_link" name="fork1_link" tf_prefix="${tf_prefix}" hardware="${hardware}" />
    <xacro:main_link parent="fork1_link" name="main1_link" tf_prefix="${tf_prefix}" hardware="${hardware}" />
    <xacro:fork_link parent="main1_link" name="fork2_link" tf_prefix="${tf_prefix}" hardware="${hardware}" />
    <!-- ee link also contain tool0-->
    <xacro:ee_link parent="fork2_link" tf_prefix="${tf_prefix}" hardware="${hardware}" />
    <!-- END robot description -->

    <!-- Insert gripper in robot description if exist -->
    <xacro:if value="${gripper_name=='rbs_gripper'}">
      <xacro:include filename="$(find rbs_gripper)/urdf/rbs_gripper_macro.xacro" />
      <xacro:rbs_gripper tf_prefix="${tf_prefix}" gripper_name="rbs_gripper" parent="${tf_prefix}tool0"
        hardware="${hardware}">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </xacro:rbs_gripper>
    </xacro:if>

    <!-- If hardware == gazebo so insert additional parameters for it -->
    <xacro:if value="${hardware=='gazebo'}">
      <gazebo>
        <plugin filename="libign_ros2_control-system.so"
          name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(arg simulation_controllers)</parameters>
          <ros>
            <namespace>${namespace}</namespace>
          </ros>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
