<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find rbs_arm)/urdf/inc/joint_interface.xacro" />
    <xacro:macro name="rbs_arm_ros2_control" params="name hardware tf_prefix">
        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${hardware=='gazebo'}">
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </xacro:if>
                <xacro:if value="${hardware=='mock'}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
            </hardware>
            <xacro:joint_interface name="${tf_prefix}fork001_link_joint" p="1000" d="0.5" />
            <xacro:joint_interface name="${tf_prefix}main001_link_joint" p="1000" d="0.5" />
            <xacro:joint_interface name="${tf_prefix}fork002_link_joint" p="500" d="0.5" />
            <xacro:joint_interface name="${tf_prefix}main002_link_joint" p="100" d="0.5" />
            <xacro:joint_interface name="${tf_prefix}fork003_link_joint" p="10" d="0.5" />
            <xacro:joint_interface name="${tf_prefix}ee_link_joint" p="10" d="0.5" />
        </ros2_control>
    </xacro:macro>
</robot>
